body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.address,.ProfilPicture,h4, h2{ 
  display: flex;
  justify-content: center;
  align-content: center;
  }
  .FullName{
    margin-top: 2%
  }
  h2{
    margin-top: 2%;
    color: rgb(184, 20, 47);}
  h4{color: rgb(65, 8, 41);}
  .address{font-size: large;
    margin-top: 5%;}
  .ProfilPicture{
  margin-top: 5%;
  }